<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Study</title>
</head>
<body>
<h2>Welcome, to the curious case study of numbers to words api.</h2>
<div>
    <div><a href="../api/num_to_english/123456789">click here to test api!</a> </div>

    <h2>Schema</h2>
    <div style="background-color: gray; color:white">
        <code>
            Get:<br>
            {<br>
                "number" : "123456789"<br>
            }<br>
        </code>
    </div>
    <br/>
    <div style="background-color: gray; color: white">
        <code>
            Response:<br>
            {<br>
                "status": "ok",<br>
                "num_in_english": "one hundred and twenty-three million, four hundred and fifty-six thousand, seven hundred and eighty-nine"<br>
            }<br>
        </code>
    </div>
</div>
</body>
</html>